@import "tailwindcss";
#root {
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
.app::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fugaz One", sans-serif;
}
a,
p,
li {
  font-family: "Work Sans", sans-serif;
}

.wrapper {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-header {
  margin-bottom: 50px;
}
.section-header h4 {
  font-size: 20px;
  line-height: 30px;
}
.section-header h2 {
  font-size: 28px;
  line-height: 38px;
  margin: 15px 0;
}
.section-header p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

/* =============== Reccomendation Card =================== */
.recommendationcard-content {
  padding: 25px 10px;
  border-radius: 10px;
}

.recommendationcard-content h4 {
  font-style: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
